/*--- Dashboard --*/
.dashboard .card{
    box-shadow: 0 6px 18px rgba(57, 106, 252,0.18);        
}
.dashboard canvas{
    display: inline-block !important;
    width: 100%;
}
.dashboard .todo-list ul li{
    border-left: 3px solid rgb(57, 106, 252);
}
.dashboard .todo-list ul li:hover{
    background: rgba(57, 106, 252,0.2);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: move;
}    
.dashboard .todo-list ul li:hover .tools{
    display: block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}    
.dashboard .todo-list ul li .tools{
    float: right;
    color: #dd4b39;
    display: none;
    margin-right: 30px;
    margin-top: 2px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}    
.dashboard .todo-list ul li .tools .btn{
    font-size: 1.25rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0px;
    text-align: center;
    margin-top: 2px;
    margin-left: 0.5rem;
    font-weight: bold;
}   
.dashboard .todo-list ul li .tools .btn-edit{
    background: #00e09b;
    color: #fff;
    border-color:#00e09b;
}    
.dashboard .todo-list ul li .tools .btn-delete{
    background: #fd4247;
    color: #fff;
    border-color: #fd4247;
}    
.dashboard .todo-list ul li .tools .btn-edit:hover{
    filter: brightness(90%);
}    
.dashboard .todo-list ul li .tools .btn-delete:hover{
    filter: brightness(90%);    
}
@media (min-width: 768px) {
    .dashboard .mobile-hide{
        display: none !important;
    }        
}    
@media (max-width: 767px) {
    .dashboard .col-sm-3{
        margin-bottom: 30px;
    }
    .dashboard .col-sm-3:last-child{
        margin-bottom: 0px;
    }        
    .dashboard .desktop-hide{
        display: none ;
    }
    .dashboard .space-bottom-mobile{
        margin-bottom: 30px !important;
    }
    .tables .card-body{
        overflow-x: auto;
    }
}    